@font-face {
  font-family: 'YourFontName';
  src: url('fonts/ArianAMUSerif.ttf') format('truetype');
  font-weight: normal; /* Light font weight */
  font-style: normal;
}

@font-face {
  font-family: 'YourFontName';
  src: url('fonts/ArianAMUSerif-Bold.ttf') format('truetype');
  font-weight: bold; /* Regular font weight */
  font-style: normal;
}

@font-face {
  font-family: 'YourFontName';
  src: url('fonts/ArianAMUSerif-BoldItalic.ttf') format('truetype');
  font-weight: bold; /* Bold font weight */
  font-style: italic;
}

@font-face {
  font-family: 'YourFontName';
  src: url('fonts/ArianAMUSerif-Italic.ttf') format('truetype');
  font-weight: normal; /* Regular font weight */
  font-style: italic;
}

@font-face {
  font-family: 'YourFontName';
  src: url('fonts/BraindZbans.ttf') format('truetype');
  font-weight: normal; /* Bold font weight */
  font-style: normal;
}

html, body {
  height: Calc(100% - 53px);
  margin: 0;
  font-family: 'Arian AMU Serif', Arial, Helvetica, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  color: #333;
  padding: 10px 25px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  border-bottom: 5px solid black;
  z-index: 3;
}

.logo {
  font-family: 'Braind Ijevan';
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline;
  color: #333;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-weight: bold;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links li:first-child {
  margin-left: 0;
}

.nav-links a {
  color: #333;
  text-decoration: none;
}


.footer-container {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 10px;
  background-color: #f0f0f0;
  border-top: 5px solid black;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0px 25px;
  color: #333;
  text-decoration: none;
  font-size: 14px;
}

.footer-text {
  float: left;
  flex-grow: 1;
}

.footer-icons {
  float: right;
  margin-left: 20px;
}

.footer-icons a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  margin-left: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  position: relative;
  margin-top: 53px;
  z-index: 0;
  min-height: calc(100vh - 106px);
  bottom: 0;
}

.content {
  flex-grow: 1;
  padding: 25px;
  max-width: 100vw;
}

.menu {
  width: 300px;
  padding: 20px;
  background-color: #f1f1f1;
  position: fixed;
  overflow-y: auto;
  right: 0;
  height: 89vh;
  border-left: 5px solid black;
  border-right: 10px dashed #f1f1f1;
}

.title{
  margin-bottom: 10px;
}
.info {
  margin: 5px 5px 5px 15px;
}

p {
  /* display: flex; */
  margin: 1em 0;
  font-weight: 500;
  line-height: 1.5em;
}
a {
  color: #1a1a1a;
}
a:visited {
  color: #1a1a1a;
}
.zlink:visited {
  color: #cfcfcf;
}
.zlink {
  font-family: 'Braind Ijevan', 'Arian AMU', sans-serif;
  font-size: 128px;
  text-decoration: none;
  font-style: italic;
  color: #cfcfcf;
  margin-left: 0;
  text-decoration: line-through;
}

.zlink:hover {
  margin-left: 50px;
  color: #333;
  text-decoration: underline;
}
details {
  margin-bottom: 10px;
}
details .hiddentext {
  margin-left: 20px;
}
summary {
  font-size: 1.3em;
  margin-bottom: 10px;
}
img {
  max-width: 100%;
}
p img {
  align-self: center;
  margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 1.4em;
  scroll-margin-top: 10vh;
}
h5, h6 {
  font-size: 1em;
  font-style: italic;
}
h6 {
  font-weight: normal;
}
ol, ul {
  padding-left: 1.7em;
  margin-top: 1em;
}
li > ol, li > ul {
  margin-top: 0;
}
blockquote {
  margin: 1em 0 1em 1.7em;
  padding-left: 1em;
  border-left: 2px solid #e6e6e6;
  color: #606060;
}
code {
  font-family: 'JetBrains Mono', Menlo, Monaco, Consolas, 'Lucida Console', monospace;
  font-size: 85%;
  margin: 0;
  hyphens: manual;
}
pre {
  margin: 1em 0;
  overflow: auto;
}
pre code {
  padding: 0;
  overflow: visible;
  overflow-wrap: normal;
}
.sourceCode {
 background-color: transparent;
 overflow: visible;
}
pre {
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
}
hr {
  background-color: #1a1a1a;
  border: none;
  height: 1px;
  margin: 1em 0;
}
table {
  margin: 1em 0;
  border-collapse: collapse;
  width: 100%;
  overflow-x: auto;
  display: block;
  font-variant-numeric: lining-nums tabular-nums;
}
table caption {
  margin-bottom: 0.75em;
}
tbody {
  margin-top: 0.5em;
  border-top: 1px solid #1a1a1a;
  border-bottom: 1px solid #1a1a1a;
}
th {
  border-top: 1px solid #1a1a1a;
  padding: 0.25em 0.5em 0.25em 0.5em;
}
td {
  padding: 0.125em 0.5em 0.25em 0.5em;
}
#TOC li {
  list-style: none;
}
#TOC ul {
  padding-left: 1.3em;
}
#TOC > ul {
  padding-left: 0;
}
#TOC a:not(:hover) {
  text-decoration: none;
}
code{white-space: pre-wrap;}
span.smallcaps{font-variant: small-caps;}
div.columns{display: flex; gap: min(4vw, 1.5em);}
div.column{flex: auto; overflow-x: auto;}
div.hanging-indent{margin-left: 1.5em; text-indent: -1.5em;}
ul.task-list{list-style: none;}
ul.task-list li input[type="checkbox"] {
  width: 0.8em;
  margin: 0 0.8em 0.2em -1.6em;
  vertical-align: middle;
}
/* CSS for syntax highlighting */
/* pre > code.sourceCode { white-space: pre; position: relative; } */
pre > code.sourceCode > span { display: inline-block; line-height: 1.25; }
pre > code.sourceCode > span:empty { height: 1.2em; }
.sourceCode { overflow: visible; }
code.sourceCode > span { color: inherit; text-decoration: inherit; }
div.sourceCode { margin: 1em 0; }
pre.sourceCode { margin: 0; }
@media screen {
div.sourceCode { overflow: auto; }
}
@media print {
pre > code.sourceCode { white-space: pre-wrap; }
pre > code.sourceCode > span { text-indent: -5em; padding-left: 5em; }
}
pre.numberSource code
  { counter-reset: source-line 0; }
pre.numberSource code > span
  { position: relative; left: -4em; counter-increment: source-line; }
pre.numberSource code > span > a:first-child::before
  { content: counter(source-line);
    position: relative; left: -1em; text-align: right; vertical-align: baseline;
    border: none; display: inline-block;
    -webkit-touch-callout: none; -webkit-user-select: none;
    -khtml-user-select: none; -moz-user-select: none;
    -ms-user-select: none; user-select: none;
    padding: 0 4px; width: 4em;
    color: #aaaaaa;
  }
pre.numberSource { margin-left: 3em; border-left: 1px solid #aaaaaa;  padding-left: 4px; }
div.sourceCode
  {  background-color: #f8f8f8; }
@media screen {
pre > code.sourceCode > span > a:first-child::before { text-decoration: underline; }
}
code span.al { color: #ef2929; } /* Alert */
code span.an { color: #8f5902; font-weight: bold; font-style: italic; } /* Annotation */
code span.at { color: #204a87; } /* Attribute */
code span.bn { color: #0000cf; } /* BaseN */
code span.cf { color: #204a87; font-weight: bold; } /* ControlFlow */
code span.ch { color: #4e9a06; } /* Char */
code span.cn { color: #8f5902; } /* Constant */
code span.co { color: #8f5902; font-style: italic; } /* Comment */
code span.cv { color: #8f5902; font-weight: bold; font-style: italic; } /* CommentVar */
code span.do { color: #8f5902; font-weight: bold; font-style: italic; } /* Documentation */
code span.dt { color: #204a87; } /* DataType */
code span.dv { color: #0000cf; } /* DecVal */
code span.er { color: #a40000; font-weight: bold; } /* Error */
/* code span.ex { } Extension */
code span.fl { color: #0000cf; } /* Float */
code span.fu { color: #204a87; font-weight: bold; } /* Function */
/* code span.im { } Import */
code span.in { color: #8f5902; font-weight: bold; font-style: italic; } /* Information */
code span.kw { color: #204a87; font-weight: bold; } /* Keyword */
code span.op { color: #ce5c00; font-weight: bold; } /* Operator */
code span.ot { color: #8f5902; } /* Other */
code span.pp { color: #8f5902; font-style: italic; } /* Preprocessor */
code span.sc { color: #ce5c00; font-weight: bold; } /* SpecialChar */
code span.ss { color: #4e9a06; } /* SpecialString */
code span.st { color: #4e9a06; } /* String */
code span.va { color: #000000; } /* Variable */
code span.vs { color: #4e9a06; } /* VerbatimString */
code span.wa { color: #8f5902; font-weight: bold; font-style: italic; } /* Warning */